{% extends 'base.html' %}

{% block title %}Cheese List{% endblock title %}

{% block content %}
    <h2>Cheese  List</h2>
    <ul>
        {% for cheese in cheese_list %}
            <li><a href="{% url 'cheeses:detail' cheese.slug %}">{{ cheese.name }}</a></li>
        {% endfor %}
    </ul>    
<h5>Don't see a cheese liste here?<h5>
        <div >
        
            <a href="{% url 'cheeses:add'  %}" class="btn btn-primary" role="button">Add Cheese</a>
        
        </div>
{% endblock content %}
